body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }

  #root {
    display: flex;
    min-height: 100vh;
  }

  section + section {
    margin-top: 15px;
  }

  .text-right {
    text-align: right;
  }

  div.d3-tooltip {
    position: absolute;
    z-index: 10;
    pointer-events: none;
  }

  div.d3-tooltip div {
    background: #000;
    color: #fff;
    padding: 15px;
    width: 100%;
    font-weight: 600;
    border-radius: 6px;
    margin-left: -50%;
    margin-top: -50%;
    font-family: "Proxima Nova", Arial, sans-serif;
    font-size: 12px;
    pointer-events: none;
  }